@at-root

  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer

  @import app/styles/helpers/utility/container
  //@import app/styles/helpers/utility/position



  ////------------------------------------------
  .layoutMain_footer
    //------------------------------------------

    // ----- Looks -----
    &, a
      color            : white

    // ----- RWD -----
    +to(xl)
      background-color : black



  ////------------------------------------------
  .layoutMain_footer-inner
    //------------------------------------------

    // ----- Layout -----
    +container

    // ----- RWD -----
    +to(s)
      text-align: center

      .layoutMain_footer-section:not(:last-child)
        margin-bottom : config-get('cb.layout.container.padding')


    +between(m, xl)
      display         : flex
      justify-content : space-between
      align-items     : center

      .layoutMain_footer-section._name
        display         : flex
        justify-content : flex-start
        align-items     : center

      .layoutMain_footer-section-name-image
        margin-right : 1rem

    +from(xxl)
      text-align: center

      .layoutMain_footer-section:not(:last-child)
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_footer-section._name
        display: none



  ////------------------------------------------
  .layoutMain_footer-section._name
    //------------------------------------------

    // ----- Layout -----
    //display         : flex
    //justify-content : flex-start
    //align-items     : center

    // ----- Content layout -----
    //.layoutMain_footer-section-name-image
    //  margin-right : 1rem



  ////------------------------------------------
  .layoutMain_footer-section-name-image
    //------------------------------------------

    // ----- Layout -----
    $size  : 50px
    width  : $size
    height : $size




  ////------------------------------------------
  .layoutMain_footer-section-name-title
    //------------------------------------------

    // ----- Text -----
    font-size: 1.5rem



  ////------------------------------------------
  .layoutMain_footer-section._address
    //------------------------------------------

    // ----- Layout -----

    // ----- Content layout -----
    .layoutMain_footer-section-address-item
      display: block
