<div class = "layoutMain_footer-inner">



  <div class = "layoutMain_footer-section _name">
    <img
      class = "layoutMain_footer-section-name-image"
      src = "../favicon.png"
    >

    <div class = "layoutMain_footer-section-name-text">
      <p class = "layoutMain_footer-section-name-title">
        Крафтбери
      </p>{{! section-name-title }}

      <p class = "layoutMain_footer-section-name-subtitle">
        магазин авторского пива
      </p>{{! section-name-subtitle }}
    </div>{{! section-name-text }}
  </div>{{! section _name }}



  <div class = "layoutMain_footer-section _address">
    <a
      class = "layoutMain_footer-section-address-item _address"
      href  = "https://yandex.ru/maps/10735/krasnogorsk/?orgpage%5Bid%5D=188340707502"
    >
      Красногорский бульвар, 28
    </a>

    <a
      class = "layoutMain_footer-section-address-item _phone"
      href  = "tel:+79250816590"
    >
      +7 (925) 081-65-90
    </a>
  </div>{{! section _address }}



  <div class = "layoutMain_footer-section _links">
    <a
      class = "layoutMain_footer-section-links-link _instagram"
      href  = "https://www.instagram.com/craftberi/"
    >
      Instagram
    </a>
  </div>{{! section _links }}



</div>{{! inner }}