<div class = "layoutMain_footer-address">
  <a
    class = "layoutMain_footer-address-link"
    href  = "https://yandex.ru/maps/10735/krasnogorsk/?orgpage%5Bid%5D=188340707502"
  >
    Красногорский бульвар, 28
  </a>
</div>{{! address }}

<div class = "layoutMain_footer-phone">
  <a
    class = "layoutMain_footer-phone-link"
    href  = "tel:+1234567890"
  >
    +7 (123) 456 78 90
  </a>
</div>{{! phone }}

<div class = "layoutMain_footer-links">
  <a
    class = "layoutMain_footer-links-link _instagram"
    href  = "https://www.instagram.com/craftberi/"
  >
    Instagram
  </a>
</div>{{! links }}