@at-root

  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer

  @import app/styles/helpers/utility/container
  @import app/styles/helpers/utility/position

  @import app/styles/helpers/looks/fonts






  ////------------------------------------------
  .layoutMain_header
    //------------------------------------------

    // ----- Text -----
    text-shadow : 0 0 3px black, 0 0 5px black, 0 0 7px black,  0 0 10px black

    // ----- Blurry background -----
    position : relative
    color    : white
    overflow : hidden

    > *
      position : relative
      z-index  : 1

    &:before
      +overstretch
      content : ''

      background   :
        color      : black
        image      : url('https://i.imgur.com/grRbtFS.jpg')
        attachment : fixed
        position   : center
        repeat     : no-repeat
        size       : cover

      filter : blur(3px)



  ////------------------------------------------
  .layoutMain_header-container
    //------------------------------------------

    // ----- Layout -----
    +container


    // ----- Looks -----

    // ----- RWD -----
    +to(xs)
      text-align: center

      .layoutMain_header-image
        width         : 70%
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title-title
        font-size : 2rem

    +at(xs)
      .layoutMain_header-title-title
        font-size : 3.5rem

      .layoutMain_header-title-subtitle
        font-size : 1.5rem

    +between(s, xl)
      padding-top    : 5rem
      padding-bottom : 7rem
      padding-left   : 15%
      padding-right  : 15%

      .layoutMain_header-image
        width         : 200px
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title-title
        font-size : 3.5rem

      .layoutMain_header-title-subtitle
        font-size : 1.5rem

      .layoutMain_header-mission
        max-width : 500px

    +from(xxl)
      text-align: center

      .layoutMain_header-image
        width         : 70%
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title
        margin-bottom : config-get('cb.layout.container.padding')

      .layoutMain_header-title-title
        font-size : 2rem

    @media (min-width: #{left-bp-of-slice(xxl)}) and (max-height: 650px)
      .layoutMain_header-mission
        display: none





  ////------------------------------------------
  .layoutMain_header-text
    //------------------------------------------

    // ----- Looks -----


  ////------------------------------------------
  .layoutMain_header-title-title
    //------------------------------------------

    // ----- Looks -----
    +heading



  ////------------------------------------------
  .layoutMain_header-title-subtitle
    //------------------------------------------

    // ----- Looks -----
    font-weight : normal
    opacity     : 0.9
