<div class = "layoutMain_header-container">
  <img
    class = "layoutMain_header-image"
    src = "../favicon.png"
  >

  <div class = "layoutMain_header-text">
    <h1 class = "layoutMain_header-title">
      Крафтбери
    </h1>

    <h2 class = "layoutMain_header-subtitle">
      магазин авторского пива
    </h2>
  </div>{{! text }}
</div>{{! container }}