<div class = "layoutMain_header-container">


  <img
    class  = "layoutMain_header-image"
    src    = "../favicon.png"
    width  = "620"
    height = "590"
  >{{! image }}


  <div class = "layoutMain_header-title">
    <h1 class = "layoutMain_header-title-title">
      Крафтбери
    </h1>{{! title-title }}

    <div class = "layoutMain_header-title-subtitle">
      магазин авторского пива
    </div>{{! title-subtitle }}
  </div>{{! title }}


  <div class = "layoutMain_header-mission">
    Дорогие друзья! У нас в Крафтбери Вы можете познакомиться с пенными напитками,
    сваренными с душой и любовью небольшими частными пивоварнями, а так же поймать
    волну и приобщиться к интереснейшей культуре крафтового пива. ;)
  </div>{{! mission }}


</div>{{! container }}