@at-root
  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer

  @import app/styles/helpers/utility/container
  //@import app/styles/helpers/utility/position



  ////------------------------------------------
  .paGe_index
    //------------------------------------------

    // ----- Layout -----

    // ----- Content layout -----



  ////------------------------------------------
  .paGe_index-section._beer
    //------------------------------------------

    // ----- Content layout -----
    .paGe_index-subsection
      +container

      $color : white

      color        : $color
      border-color : $color

      a
        color        : rgba($color, 0.9)
        border-color : rgba($color, 0.9)

      &._tap
        background-color : #607cb5

      &._bottle
        background-color : #be6459

    // ----- Text -----
    +from(xl)
      display: flex

      .paGe_index-subsection
        width: 50%



  ////------------------------------------------
  .paGe_index-subsection
    //------------------------------------------

    // ----- Content layout -----
    .paGe_index-subsection-title
      margin-bottom: 1rem



  ////------------------------------------------
  .paGe_index-subsection-title
    //------------------------------------------

    // ----- Text -----
    line-height: 1

    // ----- RWD -----
    +to(xs)
      font-size: 1.5rem

    +from(s)
      font-size: 2rem
