@at-root
  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer

  @import app/styles/helpers/container
  //@import app/styles/helpers/position



  ////------------------------------------------
  .paGe_index
    //------------------------------------------

    // ----- Layout -----
    +container

    // ----- Content layout -----
    .paGe_index-section-header
      margin-bottom: 2rem

    .paGe_index-section:not(:first-child)
      margin-top: 3rem



  ////------------------------------------------
  .paGe_index-section._beer
    //------------------------------------------

    // ----- Text -----
    +from(xl)
      display: flex

      .paGe_index-subsection
        $subsection-width: 48%
        width: $subsection-width

        &:first-child
          margin-right: 100% - $subsection-width * 2



  ////------------------------------------------
  .paGe_index-section-header
    //------------------------------------------

    // ----- Position -----
    position : sticky
    top      : 0
    z-index  : 110

    // ----- Looks -----
    font-size        : 2rem
    border-bottom    : 1px solid black
    background-color : white



  ////------------------------------------------
  .paGe_index-subsection._tap
    //------------------------------------------

    // ----- Content layout -----
    .paGe_index-subsection-tap-beerList-item-titleAndBrewery
      top: 44px



  ////------------------------------------------
  .paGe_index-subsection-bottle-title
    //------------------------------------------

    // ----- Position -----
    position : sticky
    top      : 48px
    z-index  : 100

    // ----- Text -----
    font-size        : 1.8rem
    border-bottom    : 1px solid black
    background-color : white
