@at-root

  @import node_modules/sass-toolkit/stylesheets/toolkit/clearfix



  ////------------------------------------------
  .beerListItem
    //------------------------------------------

    // ----- Layout -----
    position : relative

    // ----- Content layout -----



  ////------------------------------------------
  .beerListItem-main
    //------------------------------------------

    // ----- Layout -----
    display   : flex

    // ----- Content layout  -----
    .beerListItem-image
      flex-shrink : 0
      flex-grow   : 0

      $size  : 50px
      width  : $size
      height : $size

      margin-top    : 0.5em
      margin-right  : 1em

      .beerListItem.-isExpanded &
        margin-bottom : 1rem

    .beerListItem-main-content
      flex-shrink : 1
      flex-grow   : 0



  ////------------------------------------------
  .beerListItem-titleAndBrewery
    //------------------------------------------

    // ----- Layout -----
    display     : flex
    flex-wrap   : wrap
    align-items : baseline

    // ----- Content layout -----
    > *
      flex-shrink  : 1
      flex-grow    : 0

      position : relative
      z-index  : 2

      &:not(:last-child)
        margin-right : 0.5rem



  ////------------------------------------------
  .beerListItem-tap
    //------------------------------------------

    // ----- Content -----
    &:before
      content : '№'



  ////------------------------------------------
  .beerListItem-title
    //------------------------------------------

    // ----- Text -----
    font-size : 1.5rem



  ////------------------------------------------
  .beerListItem-title-link
    //------------------------------------------

    // ----- Text -----
    text-decoration: none
    border-bottom: 1px dashed



  ////------------------------------------------
  .beerListItem-content
    //------------------------------------------

    // ----- Layout -----
    +clearfix



  ////------------------------------------------
  .beerListItem-fields
    //------------------------------------------

    // ----- Layout -----
    display     : flex
    flex-wrap   : wrap
    align-items : baseline

    // ----- Content Layout -----
    .beerListItem-field
      &:not(:last-child)
        margin-right : 1em

        &:after
          content : ','



  ////------------------------------------------
  .beerListItem-field
    //------------------------------------------

    // ----- Looks -----
    border-bottom : 1px dotted
    cursor        : help



  ////------------------------------------------
  .beerListItem-field-value-icon
    //------------------------------------------

    // ----- Layout -----
    width : 15px




  ////------------------------------------------
  .beerListItem-image
    //------------------------------------------

    // ----- Layout -----
    width      : 100px
    height     : 100px

    // ----- Looks -----
    object-fit    : cover
    border-radius : 50%



