@at-root

  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer
  @import node_modules/ember-element-query/addon/mixins


  //@import app/pods/components/beer-list/item/mixins



  $gutter : 2rem



  ////------------------------------------------
  .beerList
    //------------------------------------------

    // ----- Layout -----
    position : relative
    overflow : hidden

    // ----- RWD -----
    +eq-to(s)
      .beerList-controls
        transform: none !important

    +eq-from(m)
      $sidebar-width : 200px
      display     : flex
      align-items : flex-start

      .beerList-controls
        width       : $sidebar-width
        height      : auto !important
        flex-grow   : 0
        flex-shrink : 0
        transition  : transform 0.5s ease-in-out

      .beerList-beers
        flex-grow   : 0
        flex-shrink : 1




  ////------------------------------------------
  .beerList-controls
    //------------------------------------------

    // ----- Layout -----
    .beerList-options, .beerList-breweries
      margin-top: 1rem


    // ----- RWD -----
    +eq-to(xs)
      .beerList-sortOption, .beerList-option
        display: table

    +eq-from(s)
      .beerList-sortOption, .beerList-option
        display: inline-block
        &:not(:last-child)
          margin-right: 0.5em




  ////------------------------------------------
  .beerList-sortOption
    //------------------------------------------

    // ----- Looks -----
    text-decoration: none
    border-bottom: 1px dashed

    // ----- Behavior -----
    &.-current
      font-weight: bold




  ////------------------------------------------
  .beerList-option
    //------------------------------------------

    // ----- Looks -----
    cursor: pointer



  ////------------------------------------------
  .beerList-brewery-link
    //------------------------------------------

    // ----- Looks -----
    text-decoration : none
    border-bottom   : 1px dashed white




  ////------------------------------------------
  .beerList-beers
    //------------------------------------------

    // ----- Content layout -----




  ////------------------------------------------
  .beerList-breweries
    //------------------------------------------

    // ----- Layout -----
    columns: 200px auto




  ////------------------------------------------
  .beerList-beers-beers
    //------------------------------------------

    // ----- Content layout -----
    .beerList-beers-beers-group
      &:not(:last-child)
        margin-bottom: 3rem

    .beerList-item
      &:not(:last-child)
        margin-bottom: 2rem




  ////------------------------------------------
  .beerList-beers-beers-group-title
    //------------------------------------------

    // ----- Text -----
    font-size: 3rem
